[client]
user=root
password={{ mysql_root_passwd.stdout }}

[mysql]
user=root
password={{ mysql_root_passwd.stdout }}

[mysqldump]
user=root
password={{ mysql_root_passwd.stdout }}

[mysqldiff]
user=root
password={{ mysql_root_passwd.stdout }}