{# Not sure if WIKI_NAME will be used in non-CGI environments 
   But in any event, we want a name-based farm, not path based #}
SetEnv WIKI_NAME="%{HTTP_HOST}"

<Directory "{{ MW_DIRECTORY }}/mediawiki*">
  <IfVersion < 2.4>
    Allow from all
  </IfVersion>
  <IfVersion >= 2.4>
    Require all granted
  </IfVersion>
</Directory>

<VirtualHost *:80>
  # get the server name from the Host: header
  UseCanonicalName Off
  ## insert a dummy name
  ServerName catchall.host
  # ServerName wiki.example.com
  ServerAlias *.*.*
  # ServerAlias *.*

  # this log format can be split per-virtual-host based on the first field
  # using the split-logfile utility.
  LogFormat "%V %h %l %u %t \"%r\" %s %b" vcommon
  CustomLog "${APACHE_LOG_DIR}/access.log" vcommon

# LogFormat "%v %h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\"" combined_plus_vhost
# CustomLog "${APACHE_LOG_DIR}/access.log" combined_plus_vhost


  # 0     the whole requested host name 'foo.acme.com' if that was the requested domain
  # -2  the penultimate part 'acme' of foo.acme.com
  # include the server name in the filenames used to satisfy requests
  VirtualDocumentRoot "/var/www/clients/%-2/%0/w"
  VirtualScriptAlias  "/var/www/clients/%-2/%0/cgi-bin"
  # DocumentRoot "/var/www/clients/example.com/wiki.example.com/w"

  {# the instance directory is /var/www/clients #}
  {# the double asterisks here are helpful globs #}
  <Directory "{{ MW_INSTANCE_DIRECTORY }}/*/*/w">
    Require all granted
    Options Indexes FollowSymlinks
    AllowOverride All
  </Directory>

  <Directory "{{ MW_INSTANCE_DIRECTORY }}/*/*/images">
    Require all denied
  </Directory>

</VirtualHost>


{# the mw directory is /var/www/_mw #}
{# I don't think we need the asterisk here #}
<Directory "{{ MW_DIRECTORY }}/mediawiki*/images">
  Require all denied
</Directory>
<Directory "{{ MW_DIRECTORY }}/mediawiki*/mw-config">
  Require all denied
</Directory>
{# We want to vet this and then use it because it does
   great things like drop uncool REQUESTS and sets cache times 
Include {{ APACHE_CONF_DIRECTORY }}/optional.conf
#}

{# Optionally include some Apache configs found in the clients directory 
   Not sure we will need this... but could be a way to customize the Apache config per client
   beyond what we do in the Mass Virtual Hosting setup.
   Make sure that these configuration files are not served

IncludeOptional {{ MW_INSTANCE_DIRECTORY }}/{{ inventory_hostname }}/{{ inventory_hostname_short }}/*.conf
#}
<FilesMatch "\.conf$">
    Require all denied
</FilesMatch>
